# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Virtual environments
venv/

# PyCharm project files (if you are using PyCharm)
.idea/

test/

# There can be more depending on your specific configuration and needs
