openai==1.11.0
faiss-cpu==1.7.4
tiktoken==0.5.2
rank_bm25==0.2.2
wikipedia==1.4.0
unstructured==0.11.2
langchain==0.1.11
youtube-transcript-api==0.6.1
pytube==15.0.0
pypdf==3.17.1
docx2txt==0.8
fastapi==0.109.1
uvicorn==0.23.2
pydantic==2.6.3
pandas==2.2.0
pymongo==4.6.2
python-docx==1.1.0
langchain-openai==0.0.8
langchain-community==0.0.27
cryptography==42.0.5
duckduckgo-search==5.0
