openai==1.40.3
faiss-cpu==1.8.0
tiktoken==0.7.0
wikipedia==1.4.0
langchain==0.2.12
youtube-transcript-api==0.6.2
pytube==15.0.0
pypdf==4.3.1
docx2txt==0.8
fastapi==0.112.0
uvicorn==0.30.5
pydantic==2.8.2
pandas==2.2.2
pymongo==4.8.0
python-docx==1.1.2
langchain-openai==0.1.21
langchain-community==0.2.11
cryptography==43.0.1
duckduckgo-search==6.2.6
python-magic==0.4.27
unstructured==0.15.1
unstructured[all-docs]
langchain-unstructured[local]



