langchain-core==0.3.17
openai==1.57.4
faiss-cpu==1.9.0
tiktoken==0.8.0
wikipedia==1.4.0
langchain==0.3.0
youtube-transcript-api==0.6.2
pytube==15.0.0
pypdf==5.1.0
docx2txt==0.8
fastapi==0.115.5
uvicorn==0.32.0
pydantic==2.9.2
pandas==2.2.3
pymongo==4.10.1
python-docx==1.1.2
langchain-openai==0.2.8
langchain-community==0.3.0
cryptography==43.0.3
duckduckgo-search==6.3.5
python-magic==0.4.27
unstructured==0.15.7
unstructured[all-docs]
langchain-unstructured[local]



